<template>
  <div id="categoryView">
    <SubHeader subHeaderText="Categories"></SubHeader>
    <ul>
      <li v-for="category in categories" :key="category.id">
        <router-link :to="'/configure/' + category.id">
          <CustomButton
            class="categoriesCustomButton"
            :button-text="category.name"
            font-size="x-large"
          />
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { getCategories } from "../api/Categories";
import CustomButton from "../components/CustomButton";
import SubHeader from "../components/SubHeader";

export default {
  name: "CategoryView",
  components: {
    CustomButton,
    SubHeader
  },
  data: function() {
    return {
      categories: []
    };
  },
  async created() {
    // Fetches available categories from trivia api
    try {
      this.categories = await getCategories();
    } catch (err) {
      console.log(err.message);
    }
  }
};
</script>

<style>
#categoryView div h1 {
  color: white;
}
#categoryView li {
  list-style-type: none;
  margin: 2vh 2vw 2vh 2vw;
  display: inline-block;
}
</style>