<template>
  <div id="configureQuizView">
    <SubHeader subHeaderText="Configure your quiz"></SubHeader>
    <form action>
      <CustomCheckBox
        checkBoxValue="easy"
        checkBoxText="EASY"
        :checkedStatus="easyChecked"
        @clicked="handleCheckBoxSelection"
      ></CustomCheckBox>
      <CustomCheckBox
        checkBoxValue="medium"
        checkBoxText="MEDIUM"
        :checkedStatus="mediumChecked"
        @clicked="handleCheckBoxSelection"
      ></CustomCheckBox>
      <CustomCheckBox
        checkBoxValue="hard"
        checkBoxText="HARD"
        :checkedStatus="hardChecked"
        @clicked="handleCheckBoxSelection"
      ></CustomCheckBox>
      <CustomNumberInput labelText="Select amount of questions" @numberChange="handleNumberChange"></CustomNumberInput>
      <CustomTextInput labelText="Enter a username" @textChange="handleTextChange"></CustomTextInput>
      <div id="submitButtonMargin">
        <router-link
          :to="'/questions/' + $route.params.categoryId + '&' + this.difficulty + '&' + this.questionAmount + '&' + this.username"
        >
          <CustomButton buttonText="SUBMIT" fontSize="x-large"></CustomButton>
        </router-link>
      </div>
    </form>
  </div>
</template>

<script>
import CustomButton from "../components/CustomButton";
import SubHeader from "../components/SubHeader";
import CustomCheckBox from "../components/CustomCheckBox";
import CustomNumberInput from "../components/CustomNumberInput";
import CustomTextInput from "../components/CustomTextInput";
export default {
  name: "ConfigureQuizView",
  components: {
    SubHeader,
    CustomButton,
    CustomCheckBox,
    CustomNumberInput,
    CustomTextInput
  },
  data: function() {
    return {
      easyChecked: true,
      mediumChecked: false,
      hardChecked: false,
      questionAmount: 10,
      difficulty: "easy",
      username: "Unknown"
    };
  },
  methods: {
    // Custom radio function to untoggle other choices
    handleCheckBoxSelection(value) {
      if (value === "easy") {
        this.easyChecked = true;
        this.mediumChecked = false;
        this.hardChecked = false;
        this.difficulty = "easy";
      } else if (value === "medium") {
        this.mediumChecked = true;
        this.easyChecked = false;
        this.hardChecked = false;
        this.difficulty = "medium";
      } else if (value === "hard") {
        this.hardChecked = true;
        this.mediumChecked = false;
        this.easyChecked = false;
        this.difficulty = "hard";
      }
    },
    // handles @change emitted from child component
    handleNumberChange(value) {
      this.questionAmount = value;
    },
    // handles @change emitted from child component
    handleTextChange(value) {
      this.username = value;
    }
  }
};
</script>

<style>
form > * {
  display: flex;
  align-content: center;
  justify-content: center;
}

#submitButtonMargin {
  margin-top: 10vh;
}
</style>