<template>
  <div id="errorView">
    <div>
      <h1>Couldn't retrieve any questions from the selected category, please try again!</h1>
    </div>
    <div>
      <router-link to="/main">
        <CustomButton buttonText="TRY AGAIN!" fontSize="xx-large"></CustomButton>
      </router-link>
    </div>
  </div>
</template>

<script>
import CustomButton from "../components/CustomButton";
export default {
  name: "ErrorView",
  components: { CustomButton }
};
</script>

<style>
#errorView > * {
  padding-top: 15vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

#errorView div h1 {
  color: red;
}
</style>