<template>
  <div id="highscoresView">
    <SubHeader subHeaderText="Easy leaderboard" subHeaderColor="subHeaderPink"></SubHeader>
    <table>
      <LeaderBoardElement
        v-for="(highscore, index) in easyHigscores"
        :key="highscore.username + index"
        :placement="index + 1"
        :username="highscore.username"
        :score="highscore.resultByPercentage"
      ></LeaderBoardElement>
    </table>
    <SubHeader subHeaderText="Medium leaderboard" subHeaderColor="subHeaderGreen"></SubHeader>
    <table>
      <LeaderBoardElement
        v-for="(highscore, index) in mediumHighscores"
        :key="highscore.username + index"
        :placement="index + 1"
        :username="highscore.username"
        :score="highscore.resultByPercentage"
      ></LeaderBoardElement>
    </table>
    <SubHeader subHeaderText="Hard leaderboard" subHeaderColor="subHeaderBlue"></SubHeader>
    <table>
      <LeaderBoardElement
        v-for="(highscore, index) in hardHighscores"
        :key="highscore.username + index"
        :placement="index + 1"
        :username="highscore.username"
        :score="highscore.resultByPercentage"
      ></LeaderBoardElement>
    </table>
  </div>
</template>

<script>
import { topPlayers } from "../api/topPlayers";
import SubHeader from "../components/SubHeader";
import LeaderBoardElement from "../components/LeaderBoardElement";
export default {
  name: "HighscoresView",
  components: { SubHeader, LeaderBoardElement },
  data: function() {
    return {
      easyHigscores: [],
      mediumHighscores: [],
      hardHighscores: []
    };
  },
  created() {
    // Fetches highscores by chaining promises
    // Only first was called when not chaining
    try {
      topPlayers("easy", 5)
        .then(value => {
          this.easyHigscores = value;
        })
        .then(
          topPlayers("medium", 5)
            .then(value => {
              this.mediumHighscores = value;
            })
            .then(
              topPlayers("hard", 5).then(value => {
                this.hardHighscores = value;
              })
            )
        );
    } catch (err) {
      console.log(err.message);
    }
  }
};
</script>

<style>
</style>