<template>
  <div id="mainView">
    <SubHeader subHeaderText="Take some fun quizes today!"></SubHeader>
    <p id="errorMessage">{{this.$route.params.errorMessage}}</p>

    <div @click="handleStartGameClick">
      <CustomButton class="buttonSpacingMainView" button-text="START GAME" font-size="xx-large" />
    </div>
    <div @click="handleHighscoresClick">
      <CustomButton class="buttonSpacingMainView" button-text="HIGH SCORES" fontSize="xx-large" />
    </div>
  </div>
</template>

<script>
import CustomButton from "../components/CustomButton";
import SubHeader from "../components/SubHeader";
export default {
  name: "MainView",
  components: { CustomButton, SubHeader },
  methods: {
    // Handles @click emitted from child
    handleStartGameClick() {
      this.$router.push("categories");
    },
    // Handles @click emitted from child
    handleHighscoresClick() {
      this.$router.push("highscores");
    }
  }
};
</script>

<style>
.buttonSpacingMainView {
  margin-top: 7vh;
}

#errorMessage {
  color: red;
}
</style>