<template>
  <div id="questionView">
    <div v-if="questions.length > 0">
      <SubHeader :subHeaderText="'Category: ' + this.questions[this.questionIndex].category"></SubHeader>
      <SubHeader
        subHeaderColor="subHeaderGreen"
        :subHeaderText="'Question: ' + this.questions[this.questionIndex].question"
      ></SubHeader>
      <component
        :is="setAnswers"
        v-bind:alternatives="getAlternatives"
        @alternativeClicked="handleAlternativeClicked"
        :key="questionIndex"
      ></component>
    </div>
  </div>
</template>

<script>
import { getQuestions } from "../api/Questions";
import SubHeader from "../components/SubHeader";
import MultipleChoiceQuestion from "../components/MultipleChoiceQuestion";
import TrueFalseQuestion from "../components/TrueFalseQuestion";
export default {
  name: "QuestionView",
  components: {
    SubHeader,
    MultipleChoiceQuestion,
    TrueFalseQuestion
  },
  data: function() {
    return {
      questions: [],
      questionIndex: 0,
      componentToLoad: "TrueFalseQuestion",
      answers: []
    };
  },
  async created() {
    // Fetches all questions based on category, difficulty and questionvolume selected
    try {
      this.questions = await getQuestions(
        this.$route.params.categoryId,
        this.$route.params.difficulty,
        this.$route.params.questionVolume
      );
    } catch (err) {
      console.log(err);
      // routes to error page if no questions are available for that category
      this.$router.push({ name: "error" });
    }
  },
  methods: {
    // Handles @click emitted event from child
    handleAlternativeClicked(value) {
      this.answers.push({
        userAnswer: value,
        answer: this.questions[this.questionIndex].correct_answer,
        question: this.questions[this.questionIndex].question,
        correct: value == this.questions[this.questionIndex].correct_answer
      });
      // If this is not the last question, increment to the next question
      if (this.questionIndex < this.questions.length - 1) {
        this.questionIndex = this.questionIndex + 1;
      } else {
        // If this is the last question, navigate to the results page
        this.$router.push({
          name: "result",
          params: {
            answers: JSON.stringify(this.answers),
            difficulty: this.$route.params.difficulty,
            volume: this.$route.params.questionVolume,
            username: this.$route.params.username,
            category: this.questions[this.questionIndex].category
          }
        });
      }
    },
    // function to calculate percentage of correct answers
    calculateMyResult() {
      let result = 0;
      this.answers.forEach(answer => {
        if (answer.correct) {
          result++;
        }
      });
      return result / this.answers.length;
    },
    // Unused
    // Function to populate answers
    populateAnswersResponse() {
      let answers = [];
      this.answers.forEach(answer => {
        answers.push({
          answer: answer.userAnswer,
          actualAnswer: answer.answer,
          correct: answer.correct,
          question: answer.question
        });
      });
    }
  },
  computed: {
    // Loads multiple choice question component or true/false question component based on question type
    setAnswers() {
      if (this.questions.length > 0) {
        if (this.questions[this.questionIndex].type == "multiple") {
          return "MultipleChoiceQuestion";
        } else if (this.questions[this.questionIndex].type == "boolean") {
          return "TrueFalseQuestion";
        }
      }
      return "";
    },
    // Loads the alternatives for the child component
    getAlternatives() {
      return {
        incorrect: this.questions[this.questionIndex].incorrect_answers,
        correct: this.questions[this.questionIndex].correct_answer
      };
    }
  }
};
</script>

<style>
</style>