<template>
  <div id="resultView">
    <SubHeader
      :subHeaderText="'Your results are: ' + getNumberOfCorrectAnswers + ' of ' + getAmountOfQuestions"
      :subHeaderColor="getSubHeaderColor"
    ></SubHeader>
    <SubHeader
      :subHeaderText="'You scored better than ' + getMyResultPretty + '% of people on ' + this.$route.params.difficulty"
      subHeaderColor="subHeaderBlue"
    ></SubHeader>
    <ul v-if="answers != undefined && answers != null">
      <div>
        <QuestionResult
          v-for="answer in answers"
          :key="answer.question"
          :question="answer.question"
          :answer="answer.answer"
          :userAnswer="answer.userAnswer"
          :isCorrect="answer.correct"
        ></QuestionResult>
      </div>
    </ul>
  </div>
</template>

<script>
import QuestionResult from "../components/QuestionResult";
import SubHeader from "../components/SubHeader";
import { postResult } from "../api/postResult";
import { comparePerformance } from "../api/comparePerformance";
export default {
  name: "ResultView",
  data: function() {
    return {
      answers: this.$route.params ? JSON.parse(this.$route.params.answers) : [],
      myResult: 0
    };
  },
  components: { SubHeader, QuestionResult },
  computed: {
    // Counts amount of correct answers
    getNumberOfCorrectAnswers() {
      let counter = 0;
      this.answers.forEach(x => {
        if (x.correct) {
          counter++;
        }
      });
      return counter;
    },
    // Fetches amount of questions
    getAmountOfQuestions() {
      return this.answers.length;
    },
    // Sets subheader color to red if less than or equal to 0.7 is correct
    // Sets subheader color to green if greated than 0.7 is correct
    getSubHeaderColor() {
      if (this.getNumberOfCorrectAnswers < this.getAmountOfQuestions * 0.7) {
        return "subHeaderQuizFailColor";
      } else {
        return "subHeaderQuizPassColor";
      }
    },
    // Converts the float into a percentage (int)
    getMyResultPretty() {
      if (this.myResult != null && this.myResult != undefined) {
        return Math.round(this.myResult.result * 100);
      } else {
        return 0;
      }
    }
  },
  async created() {
    // If the route contains a username, post the result
    if (this.$route.params.username) {
      let result = {
        username: this.$route.params.username,
        category: this.$route.params.category,
        difficulty: this.$route.params.difficulty,
        volume: this.$route.params.volume,
        resultByPercentage:
          this.getNumberOfCorrectAnswers / this.getAmountOfQuestions
      };
      await postResult(result);
    }

    // Compares the result to others bu using comparePerformance.js
    try {
      let myPerformance =
        this.getNumberOfCorrectAnswers / this.getAmountOfQuestions;
      this.myResult = await comparePerformance(
        this.$route.params.difficulty,
        myPerformance
      );
    } catch (err) {
      console.log(err.message);
    }
  }
};
</script>

<style>
#resultView ul > div {
  width: 80%;
  margin-left: 10vw;
}
</style>