<template>
  <div id="customCheckBox">
    <div
      :class="checkedStatus ? 'selectedStyle' : 'notSelectedStyle'"
      class="customCheckBoxWrapper"
      @click="handleClickWrapper"
    >
      <h4>{{checkBoxText}}</h4>
    </div>
  </div>
</template>

<script>
export default {
  name: "CustomCheckBox",
  props: {
    checkBoxText: {
      type: String,
      default: "checkbox"
    },
    checkBoxValue: {
      type: String,
      required: true
    },
    checkedStatus: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    // Emits the value stored in the check box if clicked
    handleClickWrapper() {
      this.$emit("clicked", this.checkBoxValue);
    }
  }
};
</script>

<style>
.customCheckBoxWrapper {
  margin: 20px;
  height: 4vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 1);
}

.notSelectedStyle {
  background-color: #ff0081;
  color: white;
}

.notSelectedStyle:hover {
  background-color: white;
  color: #ff0081;
}

.selectedStyle {
  background-color: white;
  color: #ff0081;
}
</style>