<template>
  <div id="customNumberInput">
    <div class="customNumberInputWrapper">
      <div>
        <label for="input1">{{labelText}}</label>
      </div>
      <div>
        <input
          name="input1"
          type="number"
          @change="handleNumberInput"
          :value="defaultValue"
          :max="maxValue"
          :min="minimumValue"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CustomNumberInput",
  props: {
    labelText: {
      type: String,
      default: "labelText"
    },
    minimumValue: {
      type: Number,
      default: 1
    },
    maxValue: {
      type: Number,
      default: 25
    },
    defaultValue: {
      type: Number,
      default: 10
    }
  },
  methods: {
    // emits the number when @change is triggered
    handleNumberInput(event) {
      this.$emit("numberChange", event.target.value);
    }
  }
};
</script>

<style>
.customNumberInputWrapper {
  font-size: 1.6rem;
  display: block;
  width: 20vw;
  background-color: #ff0081;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 1);
  margin: 2vh 0 2vh 0;
  padding: 1vh 0 1vh 0;
}

#customNumberInput input {
  border: none;
  width: 14vw;
  text-align: center;
}
</style>