<template>
  <div id="customButton">
    <button :style="'font-size:' + fontSize + ';'" :class="calculateBackgroundColor">{{buttonText}}</button>
  </div>
</template>

<script>
export default {
  name: "CustomButton",
  props: {
    buttonText: {
      type: String,
      default: "Button"
    },
    fontSize: {
      type: String,
      default: "12px"
    }
  },
  computed: {
    // Calculates a random background color to use in the custom button
    calculateBackgroundColor() {
      const choice = Math.floor(Math.random() * 4);
      if (choice == 0) {
        return "alternative1";
      } else if (choice == 1) {
        return "alternative2";
      } else if (choice == 2) {
        return "alternative3";
      } else if (choice == 3) {
        return "alternative4";
      }
      return "alternative0";
    }
  }
};
</script>

<style>
#customButton button {
  color: white;
  border: none;
  border-radius: 4px;
  min-height: 10vh;
  min-width: 20vw;
  padding-left: 4vh;
  padding-right: 4vh;
}

#customButton button:active {
  transform: scale(0.9);
  box-shadow: 0 2px 45px rgba(255, 0, 130, 1);
}

#customButton button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.alternative1 {
  background-color: #08b0fe;
  box-shadow: 0 2px 25px rgba(8, 176, 254, 1);
}
.alternative2 {
  background-color: #f4b300;
  box-shadow: 0 2px 25px rgba(244, 179, 0, 1);
}
.alternative3 {
  background-color: #fe53a3;
  box-shadow: 0 2px 25px rgba(254, 83, 163, 1);
}
.alternative4 {
  background-color: #09fb8a;
  box-shadow: 0 2px 25px rgba(9, 251, 138, 1);
}
.alternative0 {
  background-color: black;
}
</style>