<template>
  <div id="customTextInput">
    <div class="customNumberInputWrapper">
      <div>
        <label for="input1">{{labelText}}</label>
      </div>
      <div>
        <input name="input1" type="text" @change="handleNumberInput" :value="defaultValue" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CustomTextInput",
  props: {
    labelText: {
      type: String,
      default: "labelText"
    },
    defaultValue: {
      type: String,
      default: "Unknown"
    }
  },
  methods: {
    // Emits the text input when @change is triggered
    handleNumberInput(event) {
      this.$emit("textChange", event.target.value);
    }
  }
};
</script>

<style>
.customNumberInputWrapper {
  font-size: 1.6rem;
  display: block;
  width: 20vw;
  background-color: #ff0081;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 1);
  margin: 2vh 0 2vh 0;
  padding: 1vh 0 1vh 0;
}

#customTextInput input {
  border: none;
  width: 14vw;
  text-align: center;
}
</style>