<template>
  <div id="header">
    <nav id="navbar">
      <ul>
        <router-link to="/main">
          <li id="homeButton">
            <div>
              <h1>HOME</h1>
            </div>
          </li>
        </router-link>

        <li>
          <div id="logo">
            <h1>KUIZ APP</h1>
          </div>
        </li>
        <router-link to="/highscores">
          <li id="highscoresButton">
            <div>
              <h1>HIGHSCORES</h1>
            </div>
          </li>
        </router-link>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style>
#navbar li {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding-top: 1vh;
  color: white;
}

#homeButton:hover {
  color: #ff0081;
  cursor: pointer;
}

#highscoresButton:hover {
  color: #ff0081;
  cursor: pointer;
}

#homeButton {
  float: inline-start;
}

#highschoreButton {
  float: inline-end;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>