<template>
  <div id="leaderBoardElement">
    <tr>
      <td class="placementCol">
        <p v-html="'#' + placement"></p>
      </td>
      <td class="usernameCol">
        <p v-html="username"></p>
      </td>
      <td class="scoreCol">
        <p v-html="Math.floor(score*100) + '%'"></p>
      </td>
    </tr>
  </div>
</template>

<script>
export default {
  name: "LeaderBoardElement",
  props: {
    username: {
      type: String,
      default: "Unknown"
    },
    placement: {
      type: Number,
      default: 1
    },
    score: {
      type: Number,
      default: 0.5
    }
  }
};
</script>

<style>
#leaderBoardElement td {
  width: 33vw;
  height: 5vh;
  text-align: center;
  text-justify: center;
  font-size: 1.2em;
}
#leaderBoardElement {
  border: 3px solid black;
}
</style>