<template>
  <div id="multipleChoiceQuestion">
    <tr>
      <td id="alternative1" @click="handleClick(alternatives[0])">
        <div class="alternative" v-html="alternatives[0]"></div>
      </td>
      <td id="alternative2" @click="handleClick(alternatives[1])">
        <div class="alternative" v-html="alternatives[1]"></div>
      </td>
    </tr>
    <tr>
      <td id="alternative3" @click="handleClick(alternatives[2])">
        <div class="alternative" v-html="alternatives[2]"></div>
      </td>
      <td id="alternative4" @click="handleClick(alternatives[3])">
        <div class="alternative" v-html="alternatives[3]"></div>
      </td>
    </tr>
  </div>
</template>

<script>
export default {
  name: "MultipleChoiceQuestion",
  data: function() {
    return {
      alternatives: []
    };
  },
  created() {
    // Shuffle the alternatives
    this.alternatives = this.$attrs.alternatives.incorrect;
    this.alternatives.push(this.$attrs.alternatives.correct);
    this.alternatives = this.shuffle(this.alternatives);
  },
  methods: {
    /**
     * Shuffle method from stackoverflow
     * Shuffles array in place. ES6 version
     * @param {Array} a items An array containing the items.
     */
    shuffle: function(a) {
      for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
      }
      return a;
    },
    // Emits the alternative clicked when @click is triggered
    handleClick(alternative) {
      this.$emit("alternativeClicked", alternative);
    }
  }
};
</script>

<style>
#multipleChoiceQuestion td {
  width: 50vw;
  height: 20vh;
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
}

#multipleChoiceQuestion td:hover {
  font-size: xx-large;
}

#alternative1 {
  background-color: #08b0fe;
  box-shadow: 0 2px 25px rgba(8, 176, 254, 1);
}
#alternative2 {
  background-color: #f4b300;
  box-shadow: 0 2px 25px rgba(244, 179, 0, 1);
}
#alternative3 {
  background-color: #fe53a3;
  box-shadow: 0 2px 25px rgba(254, 83, 163, 1);
}
#alternative4 {
  background-color: #09fb8a;
  box-shadow: 0 2px 25px rgba(9, 251, 138, 1);
}
</style>