<template>
  <div id="questionResult" :class="isCorrect ? 'correctAnswerShadow' : 'incorrectAnswerShadow'">
    <div class="question">
      <h4 v-html="this.question"></h4>
    </div>
    <div class="userAnswer" :class="isCorrect ? 'correctAnswer' : 'incorrectAnswer'">
      <h4 v-html="'Your answer:  ' + this.userAnswer"></h4>
      <h4 v-html="'Correct answer: ' + this.answer"></h4>
    </div>
  </div>
</template>

<script>
export default {
  name: "QuestionResult",
  props: ["question", "userAnswer", "answer", "isCorrect"]
};
</script>

<style>
#questionResult {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 2vh 0 2vh 0;
  padding: 1vh 0 0 0;
  font-size: x-large;
}

.userAnswer {
  padding: 1vh 0 1vh 0;
}

.correctAnswerShadow {
  box-shadow: 0 2px 25px rgba(8, 255, 8, 1);
}

.incorrectAnswerShadow {
  box-shadow: 0 2px 25px rgba(255, 0, 55, 1);
}

.correctAnswer {
  background-color: #08ff08;
}
.incorrectAnswer {
  background-color: #ff0055;
}
</style>