<template>
  <div id="subHeader" :class="subHeaderColor">
    <header>
      <h1>
        <span v-html="subHeaderText"></span>
      </h1>
    </header>
  </div>
</template>

<script>
export default {
  name: "SubHeader",
  props: {
    subHeaderText: {
      type: String,
      default: "subHeaderText"
    },
    subHeaderColor: {
      type: String,
      default: "subHeaderPink"
    }
  }
};
</script>

<style>
.subHeaderPink {
  background-color: #ff0081;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 1);
}

.subHeaderBlue {
  background-color: #00d9ff;
  box-shadow: 0 2px 25px rgba(0, 255, 255, 1);
}

.subHeaderGreen {
  background-color: #39ff14;
  box-shadow: 0 2px 25px rgba(39, 255, 14, 1);
}

.subHeaderQuizPassColor {
  background-color: #08ff08;
  box-shadow: 0 2px 25px rgba(8, 255, 8, 1);
}
.subHeaderQuizFailColor {
  background-color: #ff0055;
  box-shadow: 0 2px 25px rgba(255, 0, 55, 1);
}

#subHeader {
  padding: 2vh;
}

#subHeader h1 {
  text-align: center;
  text-justify: center;
}
</style>