<template>
  <div id="app">
    <Header id="elHeader"></Header>
    <Body id="elBody"></Body>
    <Footer id="elFooter"></Footer>
  </div>
</template>

<script>
import Header from "./components/Header";
import Body from "./components/Body";
import Footer from "./components/Footer";

export default {
  name: "App",
  components: {
    Header,
    Body,
    Footer
  }
};
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
  background-color: #424242;
  color: #eeeeee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#elHeader {
  height: 10vh;
  background-color: black;
}

#elBody {
  text-align: center;
  min-height: 80vh;
}
#elFooter {
  margin-top: 3vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  background-color: black;
}
</style>
